{% extends "planner/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="media">
        <div class="media-body border-bottom">
            <h2 class="account-heading">Add Foods</h2>
        </div>
    </div>
    <div class="lgn-container mt-2">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form.group">
                {{ form|crispy }}
            </fieldset>
            <button class="btn btn-outline-info" type="submit">
                Add
            </button>
        </form>
    </div>
</div>
{% endblock content %}