{% extends "planner/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="media">
        <div class="media-body border-bottom">
            <h2 class="account-heading">Make Plans</h2>
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">
                Generate
            </button>
        </div>
    </form>
</div>
{% endblock content %}