{% extends 'planner/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="media">
        <div class="media-body border-bottom">
            <h2 class="account-heading">{{ plan.name }}</h2>
            <h3>Overall Nutrition Info</h3>
            <div class="row">
                <h4 class="col-md-3">Calories: {{ plan.calories }}</h4>
                <h4 class="col-md-3">Carbs: {{ plan.carbs }}</h4>
                <h4 class="col-md-3">Fat: {{ plan.fat }}</h4>
                <h4 class="col-md-3">Protein: {{ plan.protein }}</h4>
            </div>
        </div>
    </div>
    {% for value in plan_items %}
    <article class="media content-section bg-light mt-2 mb-2 rounded">
        <div class="media-body">
            <h4 class="pt-2 pb-2">{{ value.name }}</h4>
            <div class="row pb-1">
                <h5 class="text-muted col-md-3">Calories: {{ value.calories }}</h5>
                <h5 class="text-muted col-md-3">Carbs: {{ value.carbs }}</h5>
                <h5 class="text-muted col-md-3">Fat: {{ value.fat }}</h5>
                <h5 class="text-muted col-md-3">Protein: {{ value.protein }}</h5>
            </div>
        </div>
    </article>
    {% endfor %}
    <div class="mb-3">
        <a href="{% url 'delete_plans' id %}" class="btn btn-danger btn-sm mt-1 mb-1">Delete</a>
    </div>
</div>
{% endblock content %}