{% extends "planner/base.html"  %}
{% load crispy_forms_tags %}
{% block content %}
<div id="content-container" class="container p-none">
    <div class="media">
        <div class="media-body border-bottom">
            <h2 class="account-heading">Delete Plan</h2>
        </div>
    </div>
    <div class="lgn-container mt-2">
        <form method="POST">
            {% csrf_token %}
            <h4 class="mb-3">Are you sure you want to delete your plan?</h4>
            <button class="btn btn-outline-danger" type="submit">
                Yes, Delete
            </button>
            <a class="btn btn-outline-secondary" href="{% url 'display_plans' id %}">
                Cancel
            </a>
        </form>
    </div>
</div>
{% endblock content %}