{% extends 'planner/base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div id="content-container" class="container p-none">
    <div class="media">
        <div class="media-body border-bottom">
            <h2 class="account-heading">Login</h2>
        </div>
    </div>
    <div class="lgn-container col-lg-8">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
    </div>
</div>
{% endblock content %}