{% extends 'planner/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div id="content-container" class="container p-none">
    <div class="media">
        <div class="media-body border-bottom">
            <h2 class="account-heading">Reset Password</h2>
        </div>
    </div>
    <div class="lgn-container mt-2">
        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <button class="btn btn-outline-info" type="submit">
                Request Password Reset
            </button>
        </form>
    </div>
</div>
{% endblock content %}